{"filter":false,"title":".prettierrc","tooltip":"/.prettierrc","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":16,"column":1},"action":"insert","lines":["{","  \"trailingComma\": \"es5\",","  \"tabWidth\": 4,","  \"printWidth\": 120,","  \"semi\": true,","  \"singleQuote\": false,","  \"useTabs\": false,","  \"quoteProps\": \"as-needed\",","  \"jsxSingleQuote\": false,","  \"bracketSpacing\": false,","  \"jsxBracketSameLine\": true,","  \"arrowParens\": \"avoid\",","  \"requirePragma\": false,","  \"insertPragma\": false,","  \"proseWrap\": \"preserve\",","  \"endOfLine\": \"lf\"","}"],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":3,"column":20},"end":{"row":3,"column":20},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1586087559387,"hash":"1b1acc46fd2171abfab2a44ff8ebd66819f2d264"}