<%- include ('templates/header'); -%>

<div class="item"><h1 id="h1-hack">DDOS</h1>
            <p class="hacking-info">DDoS stands for distributed denail of service. A hacker will overwhelm a target by sending many packets, rendering a website or service unavailable. The difference between a simple denial of service attack (DoS) and a distributed denial of service attack (DDoS) is that DoS attacks originate from a single computer. DDoS attacks have a network of computers or a botnet, that bombards a target with traffic. Because DDoS attacks use a network of computers to fling packets at a target, it is difficult to deflect because of the number of devices involved. These attacks are very common, and people without any computer expertise can pay to DDoS a site for as low as $20. To protect against a DDoS attack one should invest time and money into scalability of a website or server.</p>
            <img class="defcon-img" alt="defcon" src="img/DDoS-Attack.png" width="555"
               height="363">
      </div>
     
<%- include ('templates/footer'); -%>
