<%- include ('templates/header'); -%>

 <div class="item"><h1 id="h1-hack">Intro to Hacking</h1>
          <p class="hacking-info">In this day and age there is a lot of hysteria about hacking. Recent scandals centered around voting and credit agencies have brought hacking into the public conciousness. Media outlets play up the mystique and imminent danger of hacking, but never truely represent hacking with accuracy. In the coming years it will be imperative to have at least basic knowledge of how to navigate a world full of cyber criminals. Is hacking dangerous? Is hacking fun? Are all hackers criminals? Hopefully this site can educate and motivate you to learn more on the topic of hacking. </p>
          <img id="pic" alt="laptop" src="https://source.unsplash.com/zvHhKiVuR9M">
    </div>


<%- include ('templates/footer'); -%>
