<%- include ('templates/header'); -%>

 <h1 id="resourceHeader">To learn more check out these links</h1>

      <div class="list">
        <a href="https://www.cybersecuritymastersdegree.org/jeff-moss-founder-of-hacker-conferences/">- Jeff Moss -</a>
        <a href="https://www.defcon.org">Defcon -</a>
        <a href="https://www.malwarebytes.com/hacker/">Hacking -</a>
        <a href="https://resources.infosecinstitute.com/return-oriented-programming-rop-attacks/#gref">ROP -</a>
        <a href="https://www.imperva.com/learn/application-security/denial-of-service/">DDoS -</a>

      </div>
    <img id="scary-bg" src="img/leethaxor.jpg" alt="scaryman-laptop">


<%- include ('templates/footer'); -%>
