<%- include ('templates/header'); -%>

<div class="item"><h1 id="h1-hack">Return Oriented Programming</h1>
          <p class="hacking-info">Return Oriented Programming, ROP for short, is a stack buffer overflow attack that alows a hacker to hijack the control flow of a program. Every program has a stack of functions that it executes. The stack contains variables of local functions. A hacker looks for functions in a code base that have return instructions. These are called gadgets. Gadgets, arbitrary return functions, are then chained together in a way that will overflow the stack buffer. Once the stack is overun the hacker can make system calls, and make requests to the kernal. Through system calls can invoke a payload (malicious code). In order for a better understanding of ROP attacks, one should have a elementary understanding of machine code and decompiliers like GNU Project Debugger(gdb). </p>
          <div class="rop-images">
          <img class="overflow-img" alt="buffer-overflow pic" src="img/buffer-overflow.jpg" width="480"
             height="199">
             <img class="anon-img" src="img/anon.jpg" alt="anonymous" width="480" height="199">
  </div>
    </div>

    <div class="item embed-responsive embed-responsive-21by9">
<iframe width="560" height="315" src="https://www.youtube.com/embed/XZa0Yu6i_ew" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<%- include ('templates/footer'); -%>
