<!DOCTYPE html>
<html lang="en">
<head>
	<title>Intro to Hacking</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="item">    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/ddos">DDOS</a></li>
        <li><a href="/defcon">Defcon</a></li>
        <li><a href="/rop">ROP</a></li>
        <li><a href="/resources">Resources</a></li>
      </ul>
      <img id="brain" src="img/anatomy.svg" alt="circuit-brain" width="93" height="71">
    </div>